{
  "token": "The token of your bot",
  "prefix": "The prefix of your bot",
  "owner": ["Your ID"],
  "options": {
    "allowedMentions": {
      "parse": ["users"],
      "repliedUser": true
    },
    "intents": 38411
  }
}